.about-description{
    color:#092b54;
    font-size:'14px';
    font-weight:400;
    margin-bottom:10px;
}
.about-title{
    color:#0a2144;
    font-size:14px;
    font-weight:600;
    margin-bottom:10px
}
.know-more-li{
    color:#007bff;
    font-size:'16px';
    font-weight:400
}