
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .tourney-tab-group .tab-list{
        max-width: auto;
        margin: auto;
    }
    .tourney-tab-group-md .tab-list{
        max-width: 720px;
    }
    .tourney-tab-group-lg .tab-list{
        max-width: 960px;
    }
    .tourney-tab-group-xl .tab-list{
        max-width: 1140px;
    }
    .tourney-tab-group .tab-panel{
        max-width:auto;
        margin:auto;
    }
    .tourney-tab-group-md .tab-panel{
        max-width: 720px;
    }
    .tourney-tab-group-lg .tab-panel{
        max-width: 960px;
    }
    .tourney-tab-group-xl .tab-panel{
        max-width: 1140px;
    }
    .tab:focus{
        border:0 !important;
        outline:none !important;
        box-shadow: none !important;
    }
    .tab{
        border:0
    }
    .activeTab{
        border:0;
        border-bottom:4px solid #032146;
        height: 100%;
        width: 100%;
        color: #032146;
        font-weight: 700;
    }
    .inActiveTab{
        border:0;
        height: 100%;
        width: 100%;
    }
    .tab-title-style{
        font-size: 0.8125rem;
        padding:12px;
    }
    .tourney-tab-group-md .tab-title-style{
        font-size: 1.125rem;
        padding:16px;
    }
}