.menu-items{
    text-decoration: none;
    color:#ffffff;
    display: flex;
    align-items: center;
    gap:12px;
    padding: 0 28px;
  }
  .customMenuItem:hover{
    background: #3A4C71;
  }
  .customMenuItem:focus{
    background: #3A4C71;
  }
  .items{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 16px 0;
    width:100%;
  }
  .link-separator span {
    width: 1px;
    height: 20px;
    background-color: #3A4C71;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -10px;
  }
  
  .header .szh-menu-container ul{top:0px !important}
  .header .szh-menu__item.customMenuItem {
    padding:0 24px;
  }