
.btn-container{
    display: flex;
    align-items: center;
    gap:24px;
  }

  .app{
    background: transparent;
    color:#42BE40;
    width:120px;
    height:40px;
  }
  
  .parentModal{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;bottom:0;left:0;right:0;
    background:rgba(0,0,0,0.7);
    width:100vw;
    height:100vh;
    z-index:40;
  }